.diagnosa-remaining-1 {
  transform: scale(1);
  opacity: .8;
}
.diagnosa-remaining-2 {
  transform: scale(0.9);
  opacity: .75;
}
.diagnosa-remaining-3 {
  transform: scale(0.7);
  opacity: .7;
}

.diagnosa-remaining-4 {
  transform: scale(0.65);
  opacity: .65;
}

.diagnosa-remaining-5 {
  transform: scale(0.6);
  opacity: .6;
}

.diagnosa-remaining-6 {
  transform: scale(0.55);
  opacity: .6;
}

.diagnosa-remaining-7 {
  transform: scale(0.5);
  opacity: .5;
}

.diagnosa-remaining-8 {
  transform: scale(0.45);
  opacity: .45;
}