html
  head
    block headerBlock
      title CBR Padi
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
      link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700', rel='stylesheet')
      link(rel='stylesheet', href='/fonts/icomoon/style.css')
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/magnific-popup.css')
      link(rel='stylesheet', href='/css/jquery-ui.css')
      link(rel='stylesheet', href='/css/owl.carousel.min.css')
      link(rel='stylesheet', href='/css/owl.theme.default.min.css')
      link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
      link(rel='stylesheet', href='/fonts/flaticon/font/flaticon.css')
      link(rel='stylesheet', href='/css/aos.css')
      link(rel='stylesheet', href='/css/rangeslider.css')
      link(rel='stylesheet', href='/css/style.css')
  body
    .site-wrap
      .site-mobile-menu
        .site-mobile-menu-header
          .site-mobile-menu-close.mt-3
            span.icon-close2.js-menu-toggle
        .site-mobile-menu-body
      
      block headerContent
        header.site-navbar.py-2.bg-white(role='banner')
          .container
            .row.align-items-center
              .col-11.col-xl-2
                h1.mb-0.site-logo
                  a.text-black.h2.mb-0(href='index.html') CBR Padi
              .col-12.col-md-10.d-none.d-xl-block
                nav.site-navigation.position-relative.text-right(role='navigation')
                  ul.site-menu.js-clone-nav.mr-auto.d-none.d-lg-block
                    li.active
                      a(href='index.html')
                        span Home

                    li
                      a(href='about.html')
                        span About
                    li
                      a(href='login.html')
                        span Login
              .d-inline-block.d-xl-none.ml-md-0.mr-auto.py-3(style='position: relative; top: 3px;')
                a.site-menu-toggle.js-menu-toggle.text-black(href='#')
                  span.icon-menu.h3
      
    block mainContent
      .site-blocks-cover.overlay(style='background-image: url(/images/main-bg.jpg);', data-aos='fade', data-stellar-background-ratio='0.5')
        .container
            .row.align-items-center.justify-content-center.text-center
              .col-md-10
                .row.justify-content-center.mb-4
                  .col-md-8.text-center
                    h1(data-aos='fade-up')
                      span.typed-words
                    p(data-aos='fade-up', data-aos-delay='100') Sistem Terpercaya Penanganan Gangguan Lahan!
                    a.btn.btn-primary.btn-lg(href='/login') Cari Tahu Gangguan Lahan Anda!
    
    footer.site-footer
      .container
        .row.pt-1.mt-2.text-center
          .col-md-12
            .border-top.pt-5
              p
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
                |  Copyright ©
                script document.write(new Date().getFullYear());
                | All rights reserved | This template is made with
                i.icon-heart(aria-hidden='true')
                | by
                a(href='https://colorlib.com', target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
    
    block scripts
      script(src='/js/jquery-3.3.1.min.js')
      script(src='/js/jquery-migrate-3.0.1.min.js')
      script(src='/js/jquery-ui.js')
      script(src='/js/popper.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/owl.carousel.min.js')
      script(src='/js/jquery.stellar.min.js')
      script(src='/js/jquery.countdown.min.js')
      script(src='/js/jquery.magnific-popup.min.js')
      script(src='/js/bootstrap-datepicker.min.js')
      script(src='/js/aos.js')
      script(src='/js/rangeslider.min.js')
      script(src='/js/typed.js')
      script(src='/js/main.js')