extends userBase.pug

block append headerBlock
  link(rel='stylesheet', href='/custom/style.css')

block mainContent
  div#vueApp
    .py-3(v-if="mode == 'asking'")
      .container
        .row.text-center
          .col-md-12
            h2 Pilih Gejala

    .py-5.bg-primary(v-if="mode == 'review'")
      .container
        .row.text-center
          .col-md-12
            h1.mb-2.text-white.
              Review Gejala Yang Anda Pilih
            h4.mb-2.text-white(v-for="gejala in selectedGejala", v-bind:key="'selected-gejala-' + gejala.id").
              {{ gejala.nama }}
            p.mb-0
              a.btn.btn-outline-white.text-white.btn-md.font-weight-bold(v-on:click="diagnosa") Diagnosa
              a.btn.btn-outline-white.text-white.btn-md.font-weight-bold(v-on:click="reset") Ulangi
              
    .py-5(v-if="mode == 'info'")
      .container
        .row.text-center
          .col-md-8.col-sm-12.mx-auto
            h2.mb-2.
              Masukan Data Lahan Dan Padi
            .card.text-left
              .card-body
                form
                  .form-group
                    label Desa
                    input.form-control(type='text' v-model="desa")
                  .form-group
                    label Umur Padi
                    .form-check
                      input.form-check-input(type='radio', value='Vegetatif', v-model='umurPadi')
                      label.form-check-label Vegetatif
                    .form-check
                      input.form-check-input(type='radio', value='Generatif', v-model='umurPadi')
                      label.form-check-label Generatif
                button.btn.btn-outline-primary.btn-md.font-weight-bold(v-on:click="mode = 'asking'") Next

    .py-5.bg-primary(v-if="mode == 'asking'")
      .container
        .row.text-center
          .col-md-12(v-if="currentGejala != undefined")
            h2.mb-2.text-white.
              {{ currentGejala.nama }}
            p.mb-0
              a.btn.btn-outline-white.text-white.btn-md.font-weight-bold(v-on:click="next(true)") Ya
              a.btn.btn-outline-white.text-white.btn-md.font-weight-bold(v-on:click="next(false)") Tidak
              a.btn.btn-outline-white.text-white.btn-md.font-weight-bold(v-on:click="prev") Kembali
    .site-section(v-if="mode == 'asking'")
      .container
        .row.text-center
          .col-md-12
            h3(v-for="gejala in remainingGejala", v-bind:key="gejala.id", v-bind:class="gejala.classes").
              {{ gejala.nama }}

block scripts
  script(src='/js/jquery-3.3.1.min.js')
  script(src='/js/jquery-migrate-3.0.1.min.js')
  script(src='/js/jquery-ui.js')
  script(src='/js/popper.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/owl.carousel.min.js')
  script(src='/js/jquery.stellar.min.js')
  script(src='/js/jquery.countdown.min.js')
  script(src='/js/jquery.magnific-popup.min.js')
  script(src='/js/bootstrap-datepicker.min.js')
  script(src='/js/aos.js')
  script(src='/js/rangeslider.min.js')
  script(src='/js/vue.js')
  script(src='/custom/diagnosa.js')