extends userBase.pug

block mainContent
  .site-section
    .container
      .row
        .col-lg-8
          if records.length == 0
            h1 Anda belum pernah melakukan diagnosa
            a.btn.btn-primary.btn-lg(href="/app/diagnosa") Diagnosa
          else
            h2 Rekam Medik Anda
            each record in records
              .d-block.d-md-flex.listing-horizontal.justify-content-center.align-items-center.px-4
                .d-block
                  h2.category= record.similarity
                .lh-content
                  a.bookmark(href='#')
                    span.icon-heart
                  h3
                    a(href= '/app/record/' + record.id)= record.hamaPenyakit.nama
                  span.badge.badge-pill.badge-success.mr-2= 'Desa ' + record.desa
                  span.badge.badge-pill.badge-warning= 'Umur Padi ' + record.umurPadi
                  span.badge.badge-pill= locals.moment(record.waktu).fromNow()
