extends publicBase.pug

block mainContent
  .site-blocks-cover.overlay(style='background-image: url(/images/main-bg.jpg);', data-aos='fade', data-stellar-background-ratio='0.5')
    .container
      .row.align-items-center.justify-content-center.text-center
        .col-md-10
          .row.justify-content-center.mb-4
            .col-md-6.text-center
              h1(data-aos='fade-up')
                span.typed-words
              .card
                .card-body
                  h5.card-title Username and Password
                  form(method='post' action='' enctype="multipart/form-data")
                    .form-group
                      label(for='username') Text
                      input.form-control(type='text', name='username')
                    .form-group
                      label(for='password') Password
                      input.form-control(type='password', name='password')
                    .btn-group.btn-group-lg(role='group', aria-label='button group')
                      button.btn.btn-primary(type=button) Login
                      button.btn(type=button) Facebook
