extends userBase.pug

block mainContent
  .site-section
    .container
      .row
        .col-lg-8
          .card
            .card-header 
              h2 Data Rekam Medik #{record.id}
            .card-body
              h5.card-title Waktu
              h4.font-weight-light #{record.waktu}

              .border-bottom.my-4

              h5.card-title Penyakit
              h4.font-weight-light #{record.hamaPenyakit.nama}
            
              .border-bottom.my-4

              h5.card-title Gejala
              each gejala in record.listGejala
                h4.font-weight-light= gejala.nama

              .border-bottom.my-4

              h5.card-title Solusi
              each sol in solusi
                h4.font-weight-light= sol
            .card-footer
              .btn-group.btn-group-lg(role='group', aria-label='button group')
                a.btn.btn-danger(href='/app/delete-record/' + record.id) Hapus