extends base.pug

mixin appLink (active, path, name)
  li(class={ 'active': active, "": !active })
    a(href= path)
      span= name

block headerContent
  header.site-navbar.py-2.bg-white(role='banner')
    .container
      .row.align-items-center
        .col-11.col-xl-2
          h1.mb-0.site-logo
            a.text-black.h2.mb-0(href='index.html') CBR Padi
        .col-12.col-md-10.d-none.d-xl-block
          nav.site-navigation.position-relative.text-right(role='navigation')
            ul.site-menu.js-clone-nav.mr-auto.d-none.d-lg-block
              +appLink((active == 'listing'), '/app/listing', 'Rekam Medik')
              +appLink((active == 'diagnosa'), '/app/diagnosa', 'Diagnosa')
              +appLink((false), '/logout', 'Logout')
        .d-inline-block.d-xl-none.ml-md-0.mr-auto.py-3(style='position: relative; top: 3px;')
          a.site-menu-toggle.js-menu-toggle.text-black(href='#')
            span.icon-menu.h3
